@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
:root {
    /* colors */
    --primary-background: #1e1d2b;
    --secondary-background: #252736;
    --tertiary-background: #2F3042;
    --blue: #0177FB;
    --blueHovered: #005eca;
    --color: #FFFFFF;

    /* font size */
    --heroTitle: 500%;
    --headerText: 160%;
    --h3: 130%;
    --normal: 100%;

    /* font family */
    --primary-font: 'Open Sans', sans-serif;
    --heroTitleFont: 'Times New Roman', sans-serif;
}
html, * {
    padding: 0;
    margin: 0;
    max-width: 100vw;
}
::selection {
    color: var(--color);
    background: var(--primary-background);
}
body {
    color: var(--color);
    background-color: var(--primary-background);
    font-family: var(--primary-font);
}

/* ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */
/* ≠≠≠≠≠≠≠≠≠ header ≠≠≠≠≠≠≠≠≠ */
/* ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */

header {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
header > #headerBackground {
    transform: scaleX(-1);
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    position: absolute;
}
header > div#contentHeader {
    display: flex;
    flex-direction: column;
    margin: 15% 0 0 7%;
    width: 50%;
}
header > div#contentHeader > *{
    width: fit-content;
}
header > div#contentHeader > h1{
    padding: 0.3%;
    font-size: var(--heroTitle);
    margin-bottom: 2%;
    padding-left: 60px;
    font-family: var(--heroTitleFont);
}
header > div#contentHeader > h1:first-child{
    padding-left: 0px;
    margin-bottom: 0%;
}
header > div#contentHeader > p#heroDescription {
    margin-bottom: 10%;
    margin-top: 5%;
    width: 90%;
    letter-spacing: 1px;
    font-size: var(--headerText);
}
header > div#contentHeader > a#linkToGallery > button#cta {
    padding: 8%;
    border: 1px solid var(--blue);
    background: var(--blue);
    color: var(--color);
    border-radius: 20px;
    text-align: center;
    font-size: 140%;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-left: 60px;
    transition: all 0.3s ease;
}
header > div#contentHeader > a#linkToGallery > button#cta:hover {
    background: var(--blueHovered);
}
.blueHighlight {
    background: linear-gradient(120deg, var(--blue) 0%, var(--blue) 100%);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 100%;
    color: var(--color);
    text-decoration: none;
    padding: 2%;
    border-radius: 5px;
    cursor: default;
    transition: all 0.7s ease;
}
.blueHighlight:hover {
    background-size: 100% 90%;
}

/* ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */
/* ≠≠≠≠≠≠≠≠≠≠ main ≠≠≠≠≠≠≠≠≠≠ */
/* ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 94vh;
    padding-top: 3%;
}
main > section.section {
    min-height: 85vh;
    background-color: var(--secondary-background);
    border-radius: 10px;
    padding: 2%;
}
main > section#leftSection {
    width: 20%;
    margin-right: 5%;
    margin-left: 2.5%;
}
main > section#leftSection > div#filters > h2.titleSection{
    font-size: var(--headerText);
    margin-bottom: 15%;
}
main > section#leftSection > div#filters > div.filter {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}
main > section#leftSection > div#filters > div.filter > p.titleFilter{
    font-size: 120%;
    font-weight: 600;
}
main > section#leftSection > div#filters > div.filter > div.options{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    margin-top: 5%;
}
main > section#leftSection > div#filters > div.filter > div.options > div.option {
    margin-top: 2%;
    font-size: 110%;
}
main > section#leftSection > div#filters > button#updateGallery {
    padding: 8%;
    border: none;
    background: var(--primary-background);
    color: var(--color);
    border-radius: 20px;
    text-align: center;
    font-size: var(--normal);
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10%;
    transition: all 0.3s ease;
    padding-left: 10%;

}
main > section#leftSection > div#filters > button#updateGallery:hover {
    background: #11111a;
}
main > section#rightSection {
    margin-right: 2.5%;
    width: 70%;
}
main > section#rightSection > div#gallery {
    display: flex;
    padding-left: 4%;
    flex-wrap: wrap;
    justify-content: center;
}
main > section#rightSection > div#gallery > .item {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-background);
    margin-right: 4%;
    padding: 2%;
    border-radius: 10px;
    width: 25%;
    height: 40vh;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10%;
}
main > section#rightSection > div#gallery > .item:hover {
    box-shadow: 0px 0px 10px #494a5f;
}
.imgProduct {
    width: 100%;
}
.nameProduct {
    margin-top: 5%;
}
.descProduct {
    margin-top: 5%;
}
.price {
    margin-top: 5%;
}

/* ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */
/* ≠≠≠≠≠≠≠≠≠ footer ≠≠≠≠≠≠≠≠≠ */
/* ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */

footer {
    min-height: 40vh;
    width: 100vw;
    margin-top: 10%;
    background: var(--secondary-background);
    padding-top: 5%;
    padding-bottom: 1%;
}
footer > div#sectionsFooter {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: left;
    padding-left: 10%;
}
footer > h2.titleSection {
    margin-left: 5%;
    font-size: 200%;
}
footer > div#sectionsFooter > div.sectionFooter {
    margin-right: 10%;
    background: var(--tertiary-background);
    padding: 1.5%;
    border-radius: 5px;
    min-width: 15%;
    margin-bottom: 0%;
}
footer > div#sectionsFooter > div.sectionFooter > h3.titleSectionFooter {
    margin-bottom: 10%;
}
footer > div#sectionsFooter > div.sectionFooter > div.linksFooter {
    padding-left: 20%;
}
div#copyrights {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
div#copyrights > .copyright {
    margin-left: 5%;
    cursor: pointer;
}
.link {
    color: var(--blue);
    text-decoration: none;
    transition: all 0.3s ease;
}
.link:hover {
    color: var(--blueHovered);
}