@media screen and (max-width: 768px) {
    :root {
        /* font size */
        --heroTitle: 400%;
        --headerText: 160%;
        --h3: 130%;
        --normal: 100%;
    }


    /* ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */
    /* ≠≠≠≠≠≠≠≠≠ header ≠≠≠≠≠≠≠≠≠ */
    /* ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */

    header > div#contentHeader {
        width: 93vw;
    }

    /* ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */
    /* ≠≠≠≠≠≠≠≠≠≠ main ≠≠≠≠≠≠≠≠≠≠ */
    /* ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */
    
    main > section#leftSection {
        display: none;
    }
    main > section#rightSection {
        margin-left: 5%;  
        width: 85%;
    }
    main > section#rightSection > div#gallery > .item {
        display: flex;
        flex-direction: row;
        background-color: var(--tertiary-background);
        margin-right: 4%;
        padding: 2%;
        border-radius: 10px;
        width: 100%;
        height: 20vh;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-bottom: 10%;
        justify-content: center;
        align-items: center;
    }
    .imgProduct {
        width: 45%;
        height: 70%;
        transform: scale(0.9);
    }
    .nameProduct {
        margin-top: 5%;
    }
    .descProduct {
        margin-top: 5%;
    }
    .price {
        margin-top: 5%;
    }
    
    /* ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */
    /* ≠≠≠≠≠≠≠≠≠ footer ≠≠≠≠≠≠≠≠≠ */
    /* ≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠≠ */

    footer {
        height: fit-content;
        width: 100vw;
        margin-top: 10%;
        background: var(--secondary-background);
        padding-top: 5%;
    }
    footer > div#sectionsFooter {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        width: 90vw;
        justify-content: left;
        padding-left: 10%;
    }
    footer > div#sectionsFooter > div.sectionFooter {
        margin-right: 10%;
        background: var(--tertiary-background);
        padding: 5%;
        border-radius: 5px;
        width: 70%;
        margin-bottom: 10%;
    }
    div#copyrights {
    flex-direction: column-reverse;
    }
    div#copyrights > .copyright {
        margin-left: 5%;
        margin-top: 5%;
        text-align: center;
    }
}